/horoshiki_backend/IsHoroshiki.WebApi/IsHoroshiki.BusinessEntities/obj/Release
/horoshiki_backend/IsHoroshiki.WebApi/IsHoroshiki.BusinessServices/obj/Release
/horoshiki_backend/IsHoroshiki.WebApi/IsHoroshiki.DAO/obj/Release
/horoshiki_backend/IsHoroshiki.WebApi/IsHoroshiki.WebApi.Tests/obj/Release
/horoshiki_backend/IsHoroshiki.WebApi/IsHoroshiki.WebApi/obj/Release
/horoshiki_backend/IsHoroshiki.WebApi/IsHoroshiki.WebApi/Properties/PublishProfiles
