<div class="loginbox bg-white">
    <div class="text-align-center margin-10 padding-top-10"><img src="/theme-private-cloud/img/logo_mini.png" alt="Logo"></div>

    <form class="" id="loginForm" name="loginForm" method="post">
        <div class="loginbox-textbox">
            <input type="text" name="login" ng-model="username" class="form-control" placeholder="{{$parent.translation.auth_login_field_mail}}"/>
        </div>

        <div class="loginbox-textbox">
            <input type="password" name="password" ng-model="password" class="form-control" placeholder="{{$parent.translation.auth_login_field_pass}}"/>
            <code id="loginAlert" class="margin-top-10" style="display: none;">{{$parent.translation.auth_login_error_login}}</code>
        </div>

        <div class="loginbox-submit">
            <input type="button" ng-click="login()" class="btn btn-primary btn-block"
                   value="{{$parent.translation.auth_login_login}}">
        </div>
    </form>
</div>
<!--<div class="logobox">-->
<!--</div>-->