<div class="row">
    <div class="col-lg-12 ">
        <ul class="breadcrumb">
            <li><i class="fa fa-home"></i><a href="#">Главная</a></li>
            <li class="active">Подразделения</li>
        </ul>
    </div>
</div>

<div class="content">
    <div class="main-content">
        <div class="row">
            <div class="col-md-12">
                <div class="widget widget-table">
                    <div class="widget-content">
                        <div class="row">
                            <div class="col-md-12">
								<div class="padding-bottom-10 text-align-left">
									<a href="/subdivisions/add" class="btn btn-success">Создать подразделение</a>
								</div>
								<table class="table table-bordered table-bordered-0">
									<thead class="bordered-blueberry">
										<tr>
											<th>
												<div ng-if="model.orderby.field!='Name'">
													<a ng-click="changeSort('Name',true)">Наименование<i class="fa fa-sort padding-left-5"></i></a>
												</div>
												<div ng-if="model.orderby.field=='Name' && model.orderby.asc==true">
													<a ng-click="changeSort('Name',false)">Наименование</a><i class="fa fa-sort-asc padding-left-5"></i>
												</div>
												<div ng-if="model.orderby.field=='Name' && model.orderby.asc==false">
													<a ng-click="changeSort('Name',true)">Наименование</a><i class="fa fa-sort-desc padding-left-5"></i>
												</div>
											</th>
											<th>
												<div ng-if="model.orderby.field!='Timezone'">
													<a ng-click="changeSort('Timezone',true)">Временная зона<i class="fa fa-sort padding-left-5"></i></a>
												</div>
												<div ng-if="model.orderby.field=='Timezone' && model.orderby.asc==true">
													<a ng-click="changeSort('Timezone',false)">Временная зона</a><i class="fa fa-sort-asc padding-left-5"></i>
												</div>
												<div ng-if="model.orderby.field=='Timezone' && model.orderby.asc==false">
													<a ng-click="changeSort('Timezone',true)">Временная зона</a><i class="fa fa-sort-desc padding-left-5"></i>
												</div>
											</th>
											<th>
												<div ng-if="model.orderby.field!='PriceType'">
													<a ng-click="changeSort('PriceType',true)">Тип цен<i class="fa fa-sort padding-left-5"></i></a>
												</div>
												<div ng-if="model.orderby.field=='PriceType' && model.orderby.asc==true">
													<a ng-click="changeSort('PriceType',false)">Тип цен</a><i class="fa fa-sort-asc padding-left-5"></i>
												</div>
												<div ng-if="model.orderby.field=='PriceType' && model.orderby.asc==false">
													<a ng-click="changeSort('PriceType',true)">Тип цен</a><i class="fa fa-sort-desc padding-left-5"></i>
												</div>
											</th>
											<th>
												<div ng-if="model.orderby.field!='SiteHeader'">
													<a ng-click="changeSort('SiteHeader',true)">Заголовок на сайте<i class="fa fa-sort padding-left-5"></i></a>
												</div>
												<div ng-if="model.orderby.field=='SiteHeader' && model.orderby.asc==true">
													<a ng-click="changeSort('SiteHeader',false)">Заголовок на сайте</a><i class="fa fa-sort-asc padding-left-5"></i>
												</div>
												<div ng-if="model.orderby.field=='SiteHeader' && model.orderby.asc==false">
													<a ng-click="changeSort('SiteHeader',true)">Заголовок на сайте</a><i class="fa fa-sort-desc padding-left-5"></i>
												</div>
											</th>
											<!--Действие-->
											<th>
											</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="subdivision in model.subdivisions">
											<td><a href="/subdivisions/edit/{{subdivision.Id}}"> {{subdivision.Name}}</a></td>
											<td ng-bind="subdivision.Timezone"></td>
											<td ng-bind="subdivision.PriceType.Value"></td>
											<td ng-bind="subdivision.SiteHeader"></td>
											<td>
												<div class="btn-group">
													<a aria-expanded="false" href="javascript:void(0);" class="btn btn-primary btn-xs" data-toggle="dropdown">Действие <i class="fa fa-angle-down"></i></a>
													<ul class="dropdown-menu dropdown-blue">
														<li><a href="/subdivisions/edit/{{subdivision.Id}}"><i class="fa fa-edit"></i> Редактировать</a></li>
														<li><a href="javascript:void(0);" data-toggle="modal" data-target="#deleteIserModal" ng-click="deleteSubdivisionModal(subdivision)"><i class="fa fa-cloud"></i> Удалить</a></li>
													</ul>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
								<div class="text-center margin-top-10 margin-bottom-20">
									<uib-pagination template-url="/angular-html/directives/pagination.html"
										ng-if="model.subdivisions.length>0"
										ng-model="model.paging.PageNo"
										total-items="model.paging.TotalRecordCount"
										max-size="model.countPageButton"
										items-per-page="model.clientPageSize"
										boundary-links="true"
										first-text="{{$parent.translation.pagination_btn_first_page}}"
										last-text="{{$parent.translation.pagination_btn_last_page}}"
										previous-text="{{$parent.translation.pagination_btn_previous_page}}"
										next-text="{{$parent.translation.pagination_btn_next_page}}">
									</uib-pagination>
								</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="deleteIserModal" class="modal modal-primary" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Удаление подразделения</h4>
            </div>
            <div class="modal-body">
                <p>Вы действительно хотите удалить подразделение {{model.deleteSubdivisionModel.Name}}?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" ng-click="deleteSubdivision();" data-dismiss="modal">Удалить</button>
                <button type="button" class="btn btn-default" ng-click="deleteSubdivisionClose();" data-dismiss="modal">Отмена</button>
            </div>
        </div>
    </div>
</div>