<div class="container content">
    <div class="row">
        <!-- Begin Sidebar Menu -->
        <div class="col-md-3">
            <ng-include src="'angular-html/partial/left.menu.html'"></ng-include>
        </div>
        <!-- End Sidebar Menu -->

        <!-- Begin Content -->
        <div class="col-md-9">

            <div class="headline"><h2>Добавление пользователя</h2></div>

            <div class="row">
                <div class="col-md-6">
                    <form class="sky-form" id="contact_info_form" action="javascript://" novalidate="novalidate">

                        <section>
                            <label class="label"><strong>Логин:</strong></label>
                            <label class="input">
                                <input class="" placeholder="Логин" name="userName" id="userName" type="text">
                            </label>
                        </section>

                        <section>
                            <label class="label"><strong class="ng-binding">Имя:</strong></label>
                            <label class="input">
                                <input class="" placeholder="Имя" name="firstName" id="firstName" type="text">
                            </label>
                        </section>

                        <section>
                            <label class="label"><strong class="ng-binding">Фамилия:</strong></label>
                            <label class="input">
                                <input class="" placeholder="Имя пользователя:" name="lastName" id="lastName"
                                       type="text">
                            </label>
                        </section>

                        <section>
                            <label class="label"><strong class="ng-binding">Отчество:</strong></label>
                            <label class="input">
                                <input class="" placeholder="Имя пользователя:" name="middleName" id="middleName"
                                       type="text">
                            </label>
                        </section>

                        <section>
                            <label class="label"><strong class="ng-binding">Эллектронная почта:</strong></label>
                            <label class="input">
                                <input class="" placeholder="Имя пользователя:" name="email" id="email" type="text">
                            </label>
                        </section>

                        <section>
                            <label class="label"><strong class="ng-binding">Телефон:</strong></label>
                            <label class="input">
                                <input class="" placeholder="Имя пользователя:" name="phone" id="phone" type="text">
                            </label>
                        </section>


                        <section>
                            <label title="Разрешить получение новостей по электронной почте" class="checkbox ng-binding"
                                   for="email_notify">
                                <input class="ng-pristine ng-valid" ng-model="currentUser.sendMail" name="email_notify"
                                       id="email_notify" type="checkbox">
                                <i></i>Разрешить получение новостей по электронной почте
                            </label>
                        </section>


                        <div style="text-align: right;">
                            <button class="btn-u ng-binding" type="button" ng-click="submitProfileForm()">Сохранить
                            </button>
                        </div>
                        <br>
                    </form>
                </div>
                <div class="col-md-6">
                    Должность:
                    <select class="form-control" ng-model="model.position">
                        <option ng-repeat="option in model.positions" value="{{option.Id}}" >{{option.Value}}</option>

                    </select>

                </div>
            </div>


        </div>
    </div>
</div>