<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">Добавление пользователя</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="/">Главная</a></li>
            <li><a href="/users">Пользователи</a></li>
            <li class="active">Добавление пользователя</li>
        </ul>
    </div>
</div>

<div class="container content">
    <div class="row">
        <!-- Begin Sidebar Menu -->
        <div class="col-md-3">
            <ng-include src="'angular-html/partial/left.menu.html'"></ng-include>
        </div>
        <!-- End Sidebar Menu -->

        <!-- Begin Content -->
        <div class="col-md-9">

            <!--<div class="headline"><h2>Добавление пользователя</h2></div>-->

            <div class="row">
                <form class="sky-form" id="contact_info_form" action="javascript://" novalidate="novalidate">

                    <div class="col-md-12">

                        <section>
                            <label class="label"><strong>Логин:</strong></label>
                            <label class="input col-9">
                                <input class="" ng-blur="checkErrorUserName();" maxlength="50" placeholder="Логин"
                                       ng-model="model.user.UserName" name="userName" id="userName" type="text">
                                <code class="ng-binding" ng-show="model.error.userNameExist">Пользователь с таким
                                    логином уже существует. </code>
                                <code class="ng-binding" ng-show="model.error.userName">Не верный формат поля "Логин",
                                    данное поле не может быть меньше 3 и больше 50 символов. </code>
                            </label>
                        </section>

                        <section>
                            <label class="label"><strong>Пароль:</strong></label>
                            <label class="input col-9">
                                <input class="" ng-blur="checkErrorPassword();" maxlength="50" placeholder="Пароль"
                                       ng-model="model.user.Password" name="password" id="password" type="password">
                                <code class="ng-binding" ng-show="model.error.password">Не верный формат поля "Пароль",
                                    данное поле не может быть меньше 6 и больше 50 символов. </code>
                            </label>
                        </section>

                        <section>
                            <label class="label"><strong>Подтверждение пароля:</strong></label>
                            <label class="input col-9">
                                <input class="" ng-blur="checkErrorConfirmPassword();" maxlength="50"
                                       placeholder="Подтверждение пароля" ng-model="model.user.ConfirmPassword"
                                       name="confirmPassword" id="confirmPassword" type="password">
                                <code class="ng-binding" ng-show="model.error.confirmPassword">Пароли не
                                    совпадают. </code>
                            </label>
                        </section>

                        <hr/>

                        <section>
                            <label class="label"><strong class="ng-binding">Имя:</strong></label>
                            <label class="input col-9">
                                <input class="" ng-blur="checkErrorFirstName();" maxlength="50" placeholder="Имя"
                                       ng-model="model.user.FirstName" name="firstName" id="firstName" type="text">
                                <code class="ng-binding" ng-show="model.error.firstName">Не верный формат поля "Имя",
                                    данное поле не может быть меньше 3 и больше 50 символов. </code>
                            </label>
                        </section>

                        <section>
                            <label class="label"><strong class="ng-binding">Фамилия:</strong></label>
                            <label class="input col-9">
                                <input class="" ng-blur="checkErrorLastName();" maxlength="50" placeholder="Фамилия"
                                       ng-model="model.user.LastName" name="lastName" id="lastName" type="text">
                                <code class="ng-binding" ng-show="model.error.lastName">Не верный формат поля "Фамилия",
                                    данное поле не может быть меньше 3 и больше 50 символов. </code>
                            </label>
                        </section>

                        <section>
                            <label class="label"><strong class="ng-binding">Отчество:</strong></label>
                            <label class="input col-9">
                                <input class="" ng-blur="checkErrorMiddleName();" maxlength="50" placeholder="Отчество"
                                       ng-model="model.user.MiddleName" name="middleName" id="middleName" type="text">
                                <code class="ng-binding" ng-show="model.error.middleName">Не верный формат поля
                                    "Отчество", данное поле не может быть меньше 3 и больше 50 символов. </code>
                            </label>
                        </section>

                        <!--<section>-->
                        <!--<label class="label"><strong class="ng-binding">Эллектронная почта:</strong></label>-->
                        <!--<label class="input col-9">-->
                        <!--<input class="" placeholder="Эллектронная почта" ng-model="model.user.Email" name="email" id="email" type="text">-->
                        <!--</label>-->
                        <!--</section>-->


                        <section>
                            <label class="label"><strong class="ng-binding">Телефон:</strong></label>
                            <label class="input col-9">
                                <i class="icon-prepend">+7</i><input maxlength="10" class=""
                                                                     ng-blur="checkErrorPhone();" placeholder="Телефон"
                                                                     ng-model="model.user.Phone" name="phone" id="phone"
                                                                     type="text">
                                <code class="ng-binding" ng-show="model.error.phone">Не верный формат поля "Телефон",
                                    данное поле должно состоять из 10 цифр. </code>
                            </label>
                        </section>

                        <hr/>


                        <section>
                            <label class="label"><strong>Дата приема:</strong></label>
                            <label class="input col-6">
                                <datepicker ng-model="model.datepickerStartDate"></datepicker>
                            </label>
                        </section>

                        <section>
                            <label class="label"><strong>Статус:</strong></label>
                            <label class="input col-6">
                                <select class="form-control" ng-model="model.EmployeeStatus">
                                    <option ng-repeat="status in model.employeeStatuses" value="{{status}}">
                                        {{status.Value}}
                                    </option>
                                </select>
                            </label>
                        </section>

                        <section>
                            <label class="label"><strong>Должность:</strong></label>
                            <label class="input col-6">
                                <select ng-change="checkErrorPosition();" class="form-control"
                                        ng-model="model.Position">
                                    <option value="">Не выбрано</option>
                                    <option ng-repeat="option in model.positions" value="{{option}}">
                                        {{option.Value}}
                                    </option>
                                </select>
                                <code class="ng-binding" ng-show="model.error.position">Поле "Должность" должно быть
                                    заполнено. </code>
                            </label>
                        </section>


                        <section>
                            <label title="Разрешить доступ в IS" class="checkbox ng-binding"
                                   for="isAccess">
                                <input class="ng-pristine ng-valid" ng-model="model.user.IsAccess" name="isAccess"
                                       id="isAccess" type="checkbox">
                                <i></i>Доступ в IS
                            </label>
                        </section>

                        <section>
                            <label title="Наличие мед. книжки" class="checkbox ng-binding"
                                   for="isHaveMedicalBook">
                                <input class="ng-pristine ng-valid" ng-model="model.user.IsHaveMedicalBook"
                                       name="isHaveMedicalBook"
                                       id="isHaveMedicalBook" type="checkbox">
                                <i></i>Наличие мед. книжки
                            </label>
                        </section>


                        <section ng-show="model.user.IsHaveMedicalBook">
                            <label class="label"><strong>Срок окончания мед. книжки:</strong></label>
                            <label class="input col-6">
                                <datepicker ng-model="model.datepickerMedicalBook"></datepicker>
                            </label>
                        </section>

                        <br/><br/>
                        <div class="text-right col-9">
                            <a href="/users">
                                <button class="btn-u btn-u-default" type="button">Отменить</button>
                            </a>
                            <a ng-click="saveUser()">
                                <button class="btn-u ng-binding" type="button">Сохранить</button>
                            </a>
                        </div>
                        <br/><br/>

                    </div>
                </form>
            </div>


        </div>
    </div>
</div>

