<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">Редактирование пароля пользователя</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="/">Главная</a></li>
            <li><a href="/users">Пользователи</a></li>
            <li class="active">Редактирование пароля пользователя</li>
        </ul>
    </div>
</div>

<div class="container content">
    <div class="row">
        <!-- Begin Sidebar Menu -->
        <div class="col-md-3">
            <ng-include src="'angular-html/partial/left.menu.html'"></ng-include>
        </div>
        <!-- End Sidebar Menu -->

        <!-- Begin Content -->
        <div class="col-md-9">

            <!--<div class="headline"><h2>Редактирование пользователя</h2></div>-->

            <div class="row">
                <form class="sky-form" id="contact_info_form" action="javascript://" novalidate="novalidate">

                    <div class="col-md-12">


                        <section>
                            <label class="label"><strong>Пароль:</strong></label>
                            <label class="input col-9">
                                <input class="" ng-blur="checkErrorPassword();" maxlength="50" placeholder="Пароль"
                                       ng-model="model.userPassword.Password" name="password" id="password" type="password">
                                <code class="ng-binding" ng-show="model.error.password">Не верный формат поля "Пароль",
                                    данное поле не может быть меньше 6 и больше 50 символов. </code>
                            </label>
                        </section>

                        <section>
                            <label class="label"><strong>Подтверждение пароля:</strong></label>
                            <label class="input col-9">
                                <input class="" ng-blur="checkErrorConfirmPassword();" maxlength="50"
                                       placeholder="Подтверждение пароля" ng-model="model.userPassword.ConfirmPassword"
                                       name="confirmPassword" id="confirmPassword" type="password">
                                <code class="ng-binding" ng-show="model.error.confirmPassword">Пароли не
                                    совпадают. </code>
                            </label>
                        </section>


                        <div class="text-right col-9" >
                            <a href="/users"><button class="btn-u btn-u-default" type="button" >Отменить</button></a>
                            <a ng-click="changeUserPassword()"><button class="btn-u ng-binding" type="button">Сохранить</button></a>
                        </div>


                    </div>
                </form>
            </div>


        </div>
    </div>
</div>

