<div class="page-breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="/">Главная</a>
        </li>
        <!--<li>-->
            <!--<a href="/users">Настройки</a>-->
        <!--</li>-->
        <li class="active">Пользователи</li>
    </ul>
</div>

<div class="page-body">
    <div class="col-xs-12 col-md-12">
        <div class="widget">
            <div class="widget-header  with-footer">
                <span class="widget-caption">Пользователи</span>
            </div>
            <div class="widget-body">

                <div class="padding-bottom-10 text-align-left">
                    <a href="javascript:void(0);" ng-click="toAddUserPage();" class="btn btn-success">{{$parent.translation.user_list_button_add_user}}</a>
                </div>
                <table class="table table-hover table-striped table-bordered">
                    <thead class="bordered-blueberry">
                    <tr>
                        <!--Фамилия имя-->
                        <th>
                            <div ng-if="model.orderby.field!='FirstName'">
                                <a ng-click="changeSort('FirstName',true)">{{$parent.translation.user_list_fi}}<i
                                        class="fa fa-sort padding-left-5"></i></a>
                            </div>
                            <div ng-if="model.orderby.field=='FirstName' && model.orderby.asc==true">
                                <a ng-click="changeSort('FirstName',false)">{{$parent.translation.user_list_fi}}</a><i
                                    class="fa fa-sort-asc padding-left-5"></i>
                            </div>
                            <div ng-if="model.orderby.field=='FirstName' && model.orderby.asc==false">
                                <a ng-click="changeSort('FirstName',true)">{{$parent.translation.user_list_fi}}</a><i
                                    class="fa fa-sort-desc padding-left-5"></i>
                            </div>
                        </th>
                        <!--Доступ в IS-->
                        <th>
                            <div ng-if="model.orderby.field!='IsAccess'">
                                <a ng-click="changeSort('IsAccess',true)">{{$parent.translation.user_list_is_access}}<i
                                        class="fa fa-sort padding-left-5"></i></a>
                            </div>
                            <div ng-if="model.orderby.field=='IsAccess' && model.orderby.asc==true">
                                <a ng-click="changeSort('IsAccess',false)">{{$parent.translation.user_list_is_access}}</a><i
                                    class="fa fa-sort-asc padding-left-5"></i>
                            </div>
                            <div ng-if="model.orderby.field=='IsAccess' && model.orderby.asc==false">
                                <a ng-click="changeSort('IsAccess',true)">{{$parent.translation.user_list_is_access}}</a><i
                                    class="fa fa-sort-desc padding-left-5"></i>
                            </div>
                        </th>
                        <!--Наличеие мед книжки-->
                        <th>
                            <div ng-if="model.orderby.field!='IsHaveMedicalBook'">
                                <a ng-click="changeSort('IsHaveMedicalBook',true)">{{$parent.translation.user_list_is_have_medical_book}}<i
                                        class="fa fa-sort padding-left-5"></i></a>
                            </div>
                            <div ng-if="model.orderby.field=='IsHaveMedicalBook' && model.orderby.asc==true">
                                <a ng-click="changeSort('IsHaveMedicalBook',false)">{{$parent.translation.user_list_is_have_medical_book}}</a><i
                                    class="fa fa-sort-asc padding-left-5"></i>
                            </div>
                            <div ng-if="model.orderby.field=='IsHaveMedicalBook' && model.orderby.asc==false">
                                <a ng-click="changeSort('IsHaveMedicalBook',true)">{{$parent.translation.user_list_is_have_medical_book}}</a><i
                                    class="fa fa-sort-desc padding-left-5"></i>
                            </div>
                        </th>
                        <!--Должность-->
                        <th>
                            <div ng-if="model.orderby.field!='Position'">
                                <a ng-click="changeSort('Position',true)">{{$parent.translation.user_list_position}}<i
                                        class="fa fa-sort padding-left-5"></i></a>
                            </div>
                            <div ng-if="model.orderby.field=='Position' && model.orderby.asc==true">
                                <a ng-click="changeSort('Position',false)">{{$parent.translation.user_list_position}}</a><i
                                    class="fa fa-sort-asc padding-left-5"></i>
                            </div>
                            <div ng-if="model.orderby.field=='Position' && model.orderby.asc==false">
                                <a ng-click="changeSort('Position',true)">{{$parent.translation.user_list_position}}</a><i
                                    class="fa fa-sort-desc padding-left-5"></i>
                            </div>
                        </th>
                        <!--Статус-->
                        <th>
                            <div ng-if="model.orderby.field!='EmployeeStatus'">
                                <a ng-click="changeSort('EmployeeStatus',true)">{{$parent.translation.user_list_employee_status}}<i
                                        class="fa fa-sort padding-left-5"></i></a>
                            </div>
                            <div ng-if="model.orderby.field=='EmployeeStatus' && model.orderby.asc==true">
                                <a ng-click="changeSort('EmployeeStatus',false)">{{$parent.translation.user_list_employee_status}}</a><i
                                    class="fa fa-sort-asc padding-left-5"></i>
                            </div>
                            <div ng-if="model.orderby.field=='EmployeeStatus' && model.orderby.asc==false">
                                <a ng-click="changeSort('EmployeeStatus',true)">{{$parent.translation.user_list_employee_status}}</a><i
                                    class="fa fa-sort-desc padding-left-5"></i>
                            </div>
                        </th>
                        <!--Действие-->
                        <th>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="user in model.users">
                        <td><a href="link">{{user.FirstName+' '+user.LastName}}</a></td>
                        <td ng-show="user.IsAccess==true"><i class="fa green fa-check-circle"></i>
                        </td>
                        </a>
                        <td ng-show="user.IsAccess==false"><i class="fa red fa-minus-circle "></i>
                        </td>
                        <td ng-show="user.IsHaveMedicalBook"
                            title="Дата окончания: {{user.MedicalBookEnd | date : 'dd.MM.yyyy'}}"><i
                                class="fa fa-book green"></i></td>
                        <td ng-show="!user.IsHaveMedicalBook"
                            title="Дата окончания: {{user.MedicalBookEnd | date : 'dd.MM.yyyy'}}"><i
                                class="fa fa-book red"></i></td>
                        <td ng-bind="user.Position.Value"></td>
                        <td ng-bind="user.EmployeeStatus.Value"></td>
                        <td>

                            <div class="btn-group">
                                <a aria-expanded="false" href="javascript:void(0);" class="btn btn-blue btn-xs"
                                   data-toggle="dropdown">Действие <i class="fa fa-angle-down"></i></a>
                                <ul class="dropdown-menu dropdown-blue">
                                    <li><a href="/users/edit/{{user.Id}}"><i class="fa fa-edit"></i> Редактировать</a>
                                    </li>
                                    <li><a href="/users/edit/{{user.Id}}?dismissal=true"><i class="fa fa-minus"></i> Уволить</a></li>
                                    <li><a href="/users/editPassword/{{user.Id}}"><i class="fa fa-eye"></i> Изменить пароль</a></li>
                                    <li><a href="#" data-toggle="modal" data-target="#deleteUserModal"
                                           ng-click="deleteUserModal(user);"><i class="fa fa-cloud"></i> Удалить</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="text-center margin-top-10 margin-bottom-20">
                    <uib-pagination template-url="/angular-html/directives/pagination.html"
                                    ng-if="model.users.length>0"
                                    ng-model="model.paging.PageNo"
                                    total-items="model.paging.TotalRecordCount"
                                    max-size="model.countPageButton"
                                    items-per-page="model.clientPageSize"
                                    boundary-links="true"
                                    first-text="{{$parent.translation.pagination_btn_first_page}}"
                                    last-text="{{$parent.translation.pagination_btn_last_page}}"
                                    previous-text="{{$parent.translation.pagination_btn_previous_page}}"
                                    next-text="{{$parent.translation.pagination_btn_next_page}}">
                    </uib-pagination>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="deleteUserModal" class="modal modal-primary" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Удаление Пользователя</h4>
            </div>
            <div class="modal-body">
                <p>Вы действительно хотите удалить пользователя {{model.deleteUserModel.FirstName+' '+model.deleteUserModel.LastName}}?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="deleteUserClose();" data-dismiss="modal">Отменить</button>
                <button type="button" class="btn btn-primary" ng-click="deleteUser();" data-dismiss="modal">Удалить</button>
            </div>
        </div>
    </div> <!-- / .modal-dialog -->
</div>