<div class="page-breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="/">Главная</a>
        </li>
        <li>
            <a href="/users">Пользователи</a>
        </li>
        <li class="active">Редактирование пользователя</li>
    </ul>
</div>

<div class="page-body">
    <div class="col-xs-12 col-md-12">
        <div class="widget">
            <div class="widget-header  with-footer">
                <span class="widget-caption">Редактирование пользователя</span>
            </div>
            <div class="widget-body">
                <form role="form" class="margin-10">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="lastName">Фамилия:</label>
                                <input class="form-control" ng-blur="checkErrorLastName();" maxlength="50"
                                       placeholder="Фамилия"
                                       ng-model="model.user.LastName" name="lastName" id="lastName" type="text">
                                <code class="ng-binding" ng-show="model.error.lastName">Не верный формат поля "Фамилия",
                                    данное поле не может быть меньше 3 и больше 50 символов. </code>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="firstName">Имя:</label>
                                <input class="form-control" ng-blur="checkErrorFirstName();" maxlength="50"
                                       placeholder="Имя"
                                       ng-model="model.user.FirstName" name="firstName" id="firstName" type="text">
                                <code class="ng-binding" ng-show="model.error.firstName">Не верный формат поля "Имя",
                                    данное поле не может быть меньше 3 и больше 50 символов. </code>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="middleName">Отчество:</label>
                                <input class="form-control" ng-blur="checkErrorMiddleName();" maxlength="50"
                                       placeholder="Отчество"
                                       ng-model="model.user.MiddleName" name="middleName" id="middleName" type="text">
                                <code class="ng-binding" ng-show="model.error.middleName">Не верный формат поля
                                    "Отчество", данное поле не может быть меньше 3 и больше 50 символов. </code>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="phone">Телефон:</label>
                                <div class="input-group">
                                    <span class="input-group-addon">+7</span>
                                    <input maxlength="10" class="form-control" ng-blur="checkErrorPhone();"
                                           placeholder="Телефон" ng-model="model.user.Phone" name="phone" id="phone"
                                           type="text">
                                </div>
                                <code class="ng-binding" ng-show="model.error.phone">Не верный формат поля "Телефон",
                                    данное
                                    поле должно состоять из 10 цифр. </code>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div style="margin-top: 23px">
                                <a href="javascript:void(0);" name="phoneToLogin" ng-click="phoneToLogin();"
                                   class="btn btn-default"> <i class="fa fa-arrow-right "></i> Использовать в качестве
                                    логина</a>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="email">Электронная почта:</label>
                                <input maxlength="255" class="form-control" ng-blur="checkErrorEmail();"
                                       placeholder="Телефон" ng-model="model.user.Email" name="email" id="email"
                                       type="text">
                                <code class="ng-binding" ng-show="model.error.email">Не верный формат поля "Электронная
                                    почта". </code>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div style="margin-top: 23px">
                                <a href="javascript:void(0);" name="mailToLogin" ng-click="mailToLogin();"
                                   class="btn btn-default"> <i class="fa fa-arrow-right "></i> Использовать в качестве
                                    логина</a>

                            </div>
                        </div>
                    </div>

                    <div class="row margin-top-30">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="status">Должность:</label>
                                <div class="input-group" style="width: 100%">
                                    <select class="form-control" ng-change="checkErrorPosition();" class="form-control"
                                            ng-model="model.Position">
                                        <option value="">Не выбрано</option>
                                        <option ng-repeat="option in model.positions" value="{{option}}">
                                            {{option.Value}}
                                        </option>
                                    </select>
                                    <code class="ng-binding" ng-show="model.error.position">Поле "Должность" должно быть
                                        заполнено. </code>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="platform">Площадка:</label>
                                <div class="input-group" style="width: 100%">
                                    <select class="form-control" id="platform" ng-change="checkErrorPlatform();"
                                            class="form-control"
                                            ng-model="model.Platform.Id">
                                        <option value="">Не выбрано</option>
                                        <option ng-repeat="option in model.platforms" value="{{option.Id}}">
                                            {{option.Name}}
                                        </option>
                                    </select>
                                    <code class="ng-binding" ng-show="model.error.platform">Поле "Площадка" должно быть
                                        заполнено. </code>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4"></div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="status">Статус:</label>
                                <div class="input-group" style="width: 100%">
                                    <select style="width: 100%" class="form-control" name="status" id="status"
                                            ng-model="model.EmployeeStatus">
                                        <option ng-repeat="status in model.employeeStatuses" value="{{status}}">
                                            {{status.Value}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Дата приема:</label>
                                <datepicker ng-model="model.datepickerStartDate"></datepicker>
                            </div>
                        </div>
                        <div class="col-md-4"></div>
                    </div>

                    <div class="row margin-top-30">
                        <div class="col-md-4">


                            <div class="checkbox">
                                <label>
                                    <input ng-model="model.user.IsHaveMedicalBook" name="isHaveMedicalBook"
                                           id="isHaveMedicalBook" type="checkbox">
                                    <span class="text">Наличие мед. книжки</span>
                                </label>
                            </div>

                            <div class="form-group" ng-show="model.user.IsHaveMedicalBook">
                                <!--<label>Срок окончания мед. книжки:</label>-->
                                <datepicker ng-model="model.datepickerMedicalBook"></datepicker>
                            </div>


                        </div>
                        <div class="col-md-4">
                            <div class="checkbox">
                                <label>
                                    <input ng-model="model.user.IsAccess" name="isAccess"
                                           id="isAccess" type="checkbox">
                                    <span class="text">Доступ в IS</span>
                                </label>
                            </div>
                        </div>
                        <div class="col-md-4"></div>
                    </div>


                    <div class="row margin-top-30">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="userName">Логин:</label>
                                <input class="form-control" ng-blur="checkErrorUserName();" maxlength="50"
                                       placeholder="Логин"
                                       ng-model="model.user.UserName" name="userName" id="userName" type="text">
                                <code class="ng-binding" ng-show="model.error.userNameExist">Пользователь с таким
                                    логином уже существует. </code>
                                <code class="ng-binding" ng-show="model.error.userName">Не верный формат поля "Логин",
                                    данное поле не может быть меньше 3 и больше 50 символов. </code>
                            </div>
                        </div>
                    </div>


                    <div class="margin-top-30 text-align-right">
                        <a href="/users" class="btn btn-default">Отменить</a> <a href="javascript:void(0);"
                                                                                 ng-click="saveUser()"
                                                                                 class="btn btn-blue">Изменить</a>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>