<div class="page-breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="/">Главная</a>
        </li>
        <li>
            <a href="/users">Пользователи</a>
        </li>
        <li class="active">Смена пароля пользователя</li>
    </ul>
</div>

<div class="page-body">
    <div class="col-xs-12 col-md-6">
        <div class="widget">
            <div class="widget-header  with-footer">
                <span class="widget-caption">Смена пароля пользователя</span>
            </div>
            <div class="widget-body">
                <form role="form" class="margin-10">

                    <div class="row margin-top-30">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="password">Пароль*:</label>
                                <input class="form-control" ng-blur="checkErrorPassword();" maxlength="50"
                                       placeholder="Пароль"
                                       ng-model="model.userPassword.Password" name="password" id="password" type="password">
                                <code class="ng-binding" ng-show="model.error.password">Не верный формат поля "Пароль",
                                    данное поле не может быть меньше 6 и больше 50 символов. </code>
                            </div>

                            <div class="form-group">
                                <label for="confirmPassword">Подтверждение пароля*:</label>
                                <input class="form-control" ng-blur="checkErrorConfirmPassword();" maxlength="50"
                                       placeholder="Подтверждение пароля" ng-model="model.userPassword.ConfirmPassword"
                                       name="confirmPassword" id="confirmPassword" type="password">
                                <code class="ng-binding" ng-show="model.error.confirmPassword">Пароли не
                                    совпадают. </code>
                            </div>
                        </div>
                    </div>


                    <div class="margin-top-30 text-align-right">
                        <a href="javascript:void(0);" ng-click="changeUserPassword()" class="btn btn-success">Сохранить</a>
                        <a href="/users" class="btn btn-default">Отмена</a>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>