<div class="page-breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="/">Главная</a>
        </li>
        <!--<li>-->
        <!--<a href="/users">Настройки</a>-->
        <!--</li>-->
        <li class="active">Зоны доставки</li>
    </ul>
</div>
<div class="page-body">
    <div class="col-xs-12 col-md-12">
        <div class="widget">
            <div class="widget-header  with-footer">
                <span class="widget-caption">Подразделения</span>
            </div>
            <div class="widget-body">

                <div class="row">
                    <div class="col-md-9" style="height: 600px">
                        <ya-map ya-zoom="10" ya-center="[37.75,55.73]" ya-event-click="notActiveZone($event)"
                                ya-after-init="initMap($target);">
                            <ya-geo-object ng-if="model.objects.length!=0"
                                           ng-repeat="object in model.objects"
                                           ya-source="object.polygon"
                                           ya-options="{editorDrawingCursor: 'crosshair', editorMaxPoints: 300, fillColor: '{{object.options.fillColor}}', strokeColor: '{{object.options.strokeColor}}', fillOpacity: '{{object.options.fillOpacity}}', strokeWidth: 1 }"
                                           ya-after-init="addedPolygon($target);"
                                           ya-event-click="changeActiveZoneWithMap($event)"
                                           ya-event-geometrychange="changeGeometry($event)">
                            </ya-geo-object>
                        </ya-map>
                    </div>
                    <div class="col-md-3">
                        <a ng-click="addObject();" href="javascript:void(0);" class="btn btn-default">Добавить зону</a>
                        <a ng-click="deleteObject();" href="javascript:void(0);" class="btn btn-default">Удалить
                            зону</a>
                        <a ng-click="saveCenterPlatform();" href="javascript:void(0);" class="btn btn-primary">Закрепить
                            центр для площадки</a>

                        <div class="padding-top-20">
                            <div class="form-group">
                                <label for="subdivisions">Подразделение:</label>
                                <div class="input-group" style="width: 100%">
                                    <select name="priceType" id="subdivisions" class="form-control"
                                            ng-model="model.subdivision"
                                            ng-change="changeSubdivision();">
                                        <!--<option value="">Не выбрано</option>-->
                                        <option ng-repeat="subdivision in model.subdivisions" value="{{subdivision}}">
                                            {{subdivision.Name}}
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="platforms">Площадка:</label>
                                <div class="input-group" style="width: 100%">
                                    <select name="priceType" id="platforms" class="form-control"
                                            ng-model="model.platform"
                                            ng-change="changePlatform();">
                                        <!--<option value="">Не выбрано</option>-->
                                        <option ng-repeat="platform in model.platforms" value="{{platform}}">
                                            {{platform.Name}}
                                        </option>
                                    </select>
                                    <!--<code class="ng-binding" ng-show="model.error.priceType">Необходимо указать тип цен-->
                                    <!--подразделения </code>-->
                                </div>
                            </div>
                        </div>


                        <div class="padding-top-20" ng-show="model.zoneForm.active">
                            <form role="form">
                                <div class="form-group">
                                    <label for="zoneName">Название зоны:</label>
                                    <input class="form-control" ng-model="model.zoneForm.name"
                                           ng-change="changeValueActiveZone();" id="zoneName"
                                           placeholder="Название зоны"
                                           type="text">
                                </div>

                                <div class="form-group">
                                    <label for="zoneType">Тип зоны:</label>
                                    <div class="input-group" style="width: 100%">
                                        <select name="priceType" id="zoneType" class="form-control"
                                                ng-model="model.zoneForm.zoneType"
                                                ng-change="changeZoneType();">
                                            <option value="">Не выбрано</option>
                                            <option ng-repeat="zoneTypes in model.deliveryZoneTypes" value="{{zoneTypes}}">
                                                {{zoneTypes.Value}}
                                            </option>
                                        </select>
                                        <!--<code class="ng-binding" ng-show="model.error.priceType">Необходимо указать тип цен-->
                                        <!--подразделения </code>-->
                                    </div>
                                </div>
                            </form>
                        </div>

                        <table class="table table-hover">
                            <thead class="bordered-darkorange">
                            <tr>
                                <th>
                                    #
                                </th>
                                <th>
                                    Название
                                </th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="zone in model.objects">
                                <td>
                                    {{$index}}
                                </td>
                                <td>
                                    <a ng-click="changeActiveZone(zone.index);"> {{zone.name}}</a>
                                </td>

                            </tr>
                            </tbody>
                        </table>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>