<!DOCTYPE html>
<html ng-app="horoshikiApp">
<head ng-controller="HeaderController">
    <title ng-bind="title + ' | IS Horoshiki'"></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!--<meta name="description" content="Настройки смен | IsHoroshiki">-->
    <meta name="author" content="IS_Horoshiki">
    <!-- CSS -->
    <link href="/theme_gray/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/theme_gray/assets/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/theme_gray/assets/css/main.css" rel="stylesheet" type="text/css">
    <link href="/theme_gray/assets/css/jquery-ui-1.10.4.autocomplete.css" rel="stylesheet" type="text/css">
    <!--&lt;!&ndash;[if lte IE 9]>-->
    <!--<link href="/theme_grayassets/css/main-ie.css" rel="stylesheet" type="text/css"/>-->
    <!--<link href="/theme_grayassets/css/main-ie-part2.css" rel="stylesheet" type="text/css"/>-->
    <!--<![endif]&ndash;&gt;-->
    <link href="/theme_gray/assets/css/custom.css" rel="stylesheet" type="text/css"/>

    <!-- Fav and touch icons -->
    <!--<link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/kingadmin-favicon144x144.png">-->
    <!--<link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/kingadmin-favicon114x114.png">-->
    <!--<link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/kingadmin-favicon72x72.png">-->
    <!--<link rel="apple-touch-icon-precomposed" sizes="57x57" href="assets/ico/kingadmin-favicon57x57.png">-->
    <link rel="shortcut icon" href="/theme_gray/assets/ico/favicon.png">

    <base href="/"/>
</head>

<body ng-controller="LayoutController" class="sidebar-fixed topnav-fixed ">
<!-- WRAPPER -->
<div id="wrapper" class="wrapper">
    <!-- TOP BAR -->
    <div class="top-bar navbar-fixed-top">
        <div class="container">
            <div class="clearfix">
                <a href="#" class="pull-left toggle-sidebar-collapse"><i class="fa fa-bars"></i></a>
                <!-- logo -->
                <div class="pull-left left logo">
                    <a href="index.html">
                        <!--<img src="/theme/assets/img/horoshiki_logo.png" alt=""/>-->
                        <!--<img src="assets/img/kingadmin-logo-white.png" alt="KingAdmin - Admin Dashboard" />-->
                    </a>
                    <h1 class="sr-only">Dashboard</h1>
                </div>
                <!-- end logo -->
                <div class="pull-right right">
                    <!-- top-bar-right -->
                    <div class="top-bar-right">

                        <a href="/"><button ng-class="groupId == 'metric' ? 'active':''" type="button" class="btn btn-link"> Метрики</button></a>
                        <a href="/"><button ng-class="groupId == '' ? 'active':''" type="button" class="btn btn-link"> Отчеты</button></a>
                        <a href="/salesplan"><button ng-class="groupId == 'management' ? 'active':''" type="button" class="btn btn-link"> Управление</button></a>
                        <a href="/users"><button ng-show="isChief()" ng-class="groupId == 'settings' ? 'active':''" type="button" class="btn btn-link"> Настройки</button></a>
                        <a href="/"><button ng-class="groupId == '' ? 'active':''" type="button" class="btn btn-link"> Маркетинг</button></a>
                        <a href="/"><button ng-class="groupId == '' ? 'active':''" type="button" class="btn btn-link"> Производство</button></a>

                        <span style="color: #c1c1c1">|&nbsp;&nbsp; </span>
                        <!-- logged user and the menu -->

                        <div class="logged-user logged-user-width">
                            <div class="btn-group">
                                <a href="#" class="btn btn-link dropdown-toggle" data-toggle="dropdown">
                                    <i class="toggle-icon fa fa-user"></i>
                                    {{currentUser.UserName}}
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="javascript: void(0)">
                                            <i class="fa fa-user"></i>
                                            <span class="text">Профиль</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript: void(0);" ng-click="logoutButton();">
                                            <i class="fa fa-power-off"></i>
                                            <span class="text">{{translation.template_header_tab_exit}}</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- end logged user and the menu -->
                    </div>
                    <!-- end top-bar-right -->
                </div>
            </div>
        </div>
        <!-- /container -->
    </div>
    <!-- END TOP BAR -->
    <!-- LEFT SIDEBAR -->
    <div id="left-sidebar" class="left-sidebar ">
        <!-- main-nav -->
        <div class="sidebar-scroll">
            <nav class="main-nav">
                <ul ng-if="groupId=='metric'" class="main-menu custom-menu">
                    <li class="left-menu-head">
                        <a href="javascript:void(0);"><span class="text">Метрики</span></a>
                    </li>
                    <li ng-class="subgroupId == 'main' ? 'active':''">

                        <a href="/"><span class="text">Основные показатели</span></a>
                    </li>
                    <li>
                        <a href="#"><span class="text">Финансы</span></a>
                    </li>
                    <li>
                        <a href="#"><span class="text">Клиенты</span></a>
                    </li>
                    <li>
                        <a href="#"><span class="text">Скорость</span></a>
                    </li>
                    <li>
                        <a href="#"><span class="text">Продукт</span></a>
                    </li>
                    <li class="left-menu-head">
                        <a href="javascript:void(0);"><span class="text">Рейтинги</span></a>
                    </li>
                    <li>
                        <a href="#"><span class="text">Финансы</span></a>
                    </li>
                    <li>
                        <a href="#"><span class="text">Клиенты</span></a>
                    </li>
                    <li>
                        <a href="#"><span class="text">Скорость</span></a>
                    </li>
                    <li>
                        <a href="#"><span class="text">Продукт</span></a>
                    </li>
                </ul>

                <ul ng-if="isChief() && groupId=='settings'" class="main-menu custom-menu">
            <!----------Основные настройки---------->


                    <li class="left-menu-head">
						<a href="javascript:void(0);"><span class="text">Основные настройки</span></a>
                    </li>
                    <li ng-class="subgroupId == 'subdivisions' ? 'active':''">

                        <a href="/subdivisions"><span class="text">Подразделения</span></a>
                    </li>
                    <li ng-class="subgroupId == 'platforms' ? 'active':''">

                        <a href="/platforms"><span class="text">Рестораны</span></a>
                    </li>
                    <li ng-class="subgroupId == 'users' ? 'active':''">

                        <a href="/users"><span class="text">Пользователи</span></a>
                    </li>
                    <li ng-class="subgroupId == 'zones' ? 'active':''">

                        <a href="/zones"><span class="text">Зоны доставки</span></a>
                    </li>
                    <li ng-class="subgroupId == 'reasonDismissal' ? 'active':''">

                        <a href="/reasonDismissals"><span class="text">Причины увольнения</span></a>
                    </li>
            <!----------Условия доставки---------->
                    <li class="left-menu-head">
                        <a href="javascript:void(0);"><span class="text">Условия доставки</span></a>
                    </li>
                    <li>
                        <a href="#"><span class="text">Стандарты скорости</span></a>
                    </li>
                    <li>
                        <a href="#"><span class="text">Настройки трекинга</span></a>
                    </li>
                    <li>

                        <a href="#"><span class="text">Мин. чек</span></a>
                    </li>

            <!----------Управленческие настройки---------->
                    <li class="left-menu-head">

                        <a href="javascript:void(0);"><span class="text"><strong>Управленческие настройки</strong></span></a>
                    </li>
                    <li>
                        <a href="#"><span class="text">Системы оплаты</span></a>
                    </li>
                    <li>
                        <a href="#"><span class="text">Настройки показателей</span></a>
                    </li>
                    <li>
                        <a href="#"><span class="text">Нормочасы</span></a>
                    </li>
                    <li>
                        <a href="#"><span class="text">Настройки смен</span></a>
                    </li>
                </ul>

                <ul ng-if="isManager() && (groupId=='management' || groupId=='settings')" class="main-menu custom-menu">
                    <!----------Основные настройки---------->

                    <li class="left-menu-head">
						<a href="javascript:void(0);"><span class="text">Оперативные</span></a>
                    </li>
                    <li ng-class="subgroupId == '' ? 'active':''">

                        <a href="#"><span class="text">Цели на год</span></a>
                    </li>
                    <li ng-class="subgroupId == '' ? 'active':''">

                        <a href="#"><span class="text">Цели на месяц</span></a>
                    </li>
                    <li ng-class="subgroupId == 'salesPlan' ? 'active':''">

                        <a href="/salesplan"><span class="text">План продаж</span></a>
                    </li>
                    <li ng-class="subgroupId == '' ? 'active':''">

                        <a href="#"><span class="text">Графики работы</span></a>
                    </li>

                    <li class="left-menu-head"><a href="javascript:void(0);">
                        <span class="text">Настройки</span></a>
                    </li>
                    <li ng-class="subgroupId == 'zones' ? 'active':''">
                        <a target="_self" href="/zones"><span class="text">Зоны доставки</span></a>
                    </li>
                    <li ng-class="subgroupId == 'platforms' ? 'active':''">
                        <a target="_self" href="/platforms/view/{{currentUser.Platform.Id}}"><span class="text">Ресторан</span></a>
                    </li>
                    <li ng-class="subgroupId == '' ? 'active':''">
                        <a target="_self" href="/shifts"><span class="text">Смены</span></a>
                    </li>
                </ul>

                <ul ng-if="isChief() && groupId=='management'" class="main-menu custom-menu">
                    <li class="left-menu-head">

                        <a href="javascript:void(0);"><span class="menu-text">Оперативные данные</span></a>
                    </li>
                    <li ng-class="subgroupId == '' ? 'active':''">

                        <a href="/target"><span class="menu-text"> Цели на год</span></a>
                    </li>
                    <li ng-class="subgroupId == '' ? 'active':''">

                        <a href="/target"><span class="menu-text"> Цели на месяц</span></a>
                    </li>
                    <li ng-class="subgroupId == 'salesPlan' ? 'active':''">

                        <a href="/salesplan"><span class="menu-text"> План продаж</span></a>
                    </li>
                    <li ng-class="subgroupId == '' ? 'active':''">

                        <a href="/workgraph"><span class="menu-text"> Графики работы</span></a>
                    </li>
                </ul>

            </nav>
            <!-- /main-nav -->
        </div>
    </div>
    <!-- END LEFT SIDEBAR -->
    <!-- MAIN CONTENT WRAPPER -->
	<user-loading-indicator></user-loading-indicator>
    <div id="main-content-wrapper" class="content-wrapper ">
        <div ng-view></div>
        <!-- /main -->
        <!-- FOOTER -->
        <footer class="footer">
            &copy; 2016 IS Horoshiki
        </footer>
        <!-- END FOOTER -->
    </div>
    <!-- END CONTENT WRAPPER -->
</div>
<!-- END WRAPPER -->

<!-- Javascript -->
<script type="text/javascript" src="/theme_gray/assets/js/jquery/jquery-2.1.0.min.js"></script>
<script type="text/javascript" src="/theme_gray/assets/js/bootstrap/bootstrap.js"></script>
<script type="text/javascript" src="/theme_gray/assets/js/plugins/modernizr/modernizr.js"></script>
<!-- <script type="text/javascript" src="/theme_gray/assets/js/plugins/bootstrap-tour/bootstrap-tour.custom.js"></script> -->
<script type="text/javascript" src="/theme_gray/assets/js/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script type="text/javascript" src="/theme_gray/assets/js/king-common.js"></script>
<!--<script type="text/javascript" src="demo-style-switcher/assets/js/deliswitch.js"></script>-->

<!-- <script type="text/javascript" src="/theme_gray/assets/js/datetime/datepicker-jquery-ui.min.js"></script>
<script type="text/javascript" src="/theme_gray/assets/js/datetime/datepicker.js"></script>
<script type="text/javascript" src="/theme_gray/assets/js/datetime/datepicker-ru.js"></script> -->
<script type="text/javascript" src="/theme_gray/assets/js/datetime/bootstrap-timepicker.js"></script>

<!-- Angular lib -->
<!-- <script type="text/javascript" src="/plugins/angular/angular.js"></script> -->
<script type="text/javascript" src="/plugins/angular/angular.min.js"></script>
<script type="text/javascript" src="/plugins/angular/angular-route.min.js"></script>
<script type="text/javascript" src="/plugins/angular/angular-cookies.min.js"></script>
<script type="text/javascript" src="/plugins/angular/angular-sanitize.min.js"></script>
<script type="text/javascript" src="/plugins/angular/angular-resource.min.js"></script>
<script type="text/javascript" src="/plugins/bootstrap-ui/angular-ui.bootstrap.pagination.js"></script>
<script type="text/javascript" src="/plugins/bootstrap-ui/datepicker.js"></script>
<script type="text/javascript" src="/plugins/bootstrap-ui/timepicker.js"></script>
<!--<script type="text/javascript" src="/plugins/angular-ui-select/select.min.js"></script>-->

<!-- Angular app -->
<script type="text/javascript" src="/angular-app/app.js"></script>
<script type="text/javascript" src="/angular-app/custom.js"></script>

<!-- Angular controllers -->
<script type="text/javascript" src="/angular-app/controllers/LayoutController.js"></script>
<script type="text/javascript" src="/angular-app/controllers/ErrorController.js"></script>
<script type="text/javascript" src="/angular-app/controllers/MainController.js"></script>
<script type="text/javascript" src="/angular-app/controllers/UsersController.js"></script>
<script type="text/javascript" src="/angular-app/controllers/SubdivisionsController.js"></script>
<script type="text/javascript" src="/angular-app/controllers/PlatformsController.js"></script>
<script type="text/javascript" src="/angular-app/controllers/ReasonDismissalController.js"></script>
<script type="text/javascript" src="/angular-app/controllers/ZonesController.js"></script>
<script type="text/javascript" src="/angular-app/controllers/SalesPlanController.js"></script>
<script type="text/javascript" src="angular-app/controllers/ChangeSettingsController.js"></script>

<!-- Angular services -->
<script type="text/javascript" src="/angular-app/service/TranslationService.js"></script>
<script type="text/javascript" src="/angular-app/service/BackendService.js"></script>
<script type="text/javascript" src="/angular-app/service/AccountService.js"></script>
<script type="text/javascript" src="/angular-app/service/UsersService.js"></script>
<script type="text/javascript" src="/angular-app/service/DictionaryService.js"></script>
<script type="text/javascript" src="/angular-app/service/SubdivisionsService.js"></script>
<script type="text/javascript" src="/angular-app/service/PlatformsService.js"></script>
<script type="text/javascript" src="/angular-app/service/ReasonDismissalService.js"></script>
<script type="text/javascript" src="/angular-app/service/ZonesService.js"></script>
<script type="text/javascript" src="/angular-app/service/SalesPlanService.js"></script>
<script type="text/javascript" src="/angular-app/service/ChangeSettingsService.js"></script>

<script type="text/javascript" src="/theme_gray/assets/js/jquery-ui-1.10.4.autocomplete.js"></script>
<script src="/theme_gray/assets/js/datetime/datepicker-jquery-ui.js"></script>
<script src="/theme_gray/assets/js/datetime/datepicker-ru.js"></script>

<!-- Angular directives -->
<script type="text/javascript" src="/plugins/ya-map-2.2.js"></script>
<script type="text/javascript" src="/angular-app/directives/UserLoadingDirective.js"></script>

</body>
</html>
