<!DOCTYPE html>
<html ng-app="horoshikiApp" xmlns="http://www.w3.org/1999/xhtml">
<head ng-controller="HeaderController">
    <meta charset="utf-8"/>
    <title>{{title}} | IS Horoshiki</title>

    <meta name="description" content="Dashboard"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="shortcut icon" href="/theme/assets/img/favicon.png" type="image/x-icon">


    <!--Basic Styles-->
    <link href="/theme/assets/css/bootstrap.min.css" rel="stylesheet"/>
    <link id="bootstrap-rtl-link" href="" rel="stylesheet"/>
    <link href="/theme/assets/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="/theme/assets/css/weather-icons.min.css" rel="stylesheet"/>

    <!--Fonts-->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300"
          rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>
    <!--Beyond styles-->
    <link href="/theme/assets/css/beyond.min.css" rel="stylesheet" type="text/css"/>
    <link href="/theme/assets/css/custom.css" rel="stylesheet" type="text/css"/>
    <!--<link href="/theme/assets/css/demo.min.css" rel="stylesheet" />-->
    <link href="/theme/assets/css/typicons.min.css" rel="stylesheet"/>
    <link href="/theme/assets/css/animate.min.css" rel="stylesheet"/>
    <link id="skin-link" href="" rel="stylesheet" type="text/css"/>

    <!--Skin Script: Place this script in head to load scripts for skins and rtl support-->
    <script src="/theme/assets/js/skins.min.js"></script>
    <base href="/"/>
</head>
<!-- /Head -->
<!-- Body -->
<body ng-controller="LayoutController">
<!-- Loading Container -->
<div class="loading-container">
    <div class="loader"></div>
</div>
<!--  /Loading Container -->
<!-- Navbar -->
<div class="navbar">
    <div class="navbar-inner">
        <div class="navbar-container">
            <!-- Navbar Barnd -->
            <div class="navbar-header pull-left">
                <a href="#" class="navbar-brand">
                    <small>
                        <img src="/theme/assets/img/horoshiki_logo.png" alt=""/>
                    </small>
                </a>
            </div>
            <!-- /Navbar Barnd -->
            <!-- Sidebar Collapse -->
            <div class="sidebar-collapse" id="sidebar-collapse">
                <i class="collapse-icon fa fa-bars"></i>
            </div>
            <!-- /Sidebar Collapse -->
            <!-- Account Area and Settings --->
            <div class="navbar-header pull-right">
                <div class="navbar-account">
                    <ul class="account-area top-navbar-font-size-17">
                        <li ng-class="groupId == 'metric' ? 'open':''">
                            <a class="login-area" href="/">
                                <section>
                                    <h2><span class="profile"><span>Метрики</span></span></h2>
                                </section>
                            </a>
                        </li>
                        <li ng-class="groupId == '' ? 'open':''">
                            <a class="login-area">
                                <section>
                                    <h2><span class="profile"><span>Отчеты</span></span></h2>
                                </section>
                            </a>
                        </li>

                        <li ng-class="groupId == '' ? 'open':''">
                            <a class="login-area">
                                <section>
                                    <h2><span class="profile"><span>Управление</span></span></h2>
                                </section>
                            </a>
                        </li>

                        <li ng-class="groupId == 'settings' ? 'open':''">
                            <a class="login-area" href="/users">
                                <section>
                                    <h2><span class="profile"><span>Настройки</span></span></h2>
                                </section>
                            </a>
                        </li>
                        <li ng-class="groupId == '' ? 'open':''">
                            <a class="login-area">
                                <section>
                                    <h2><span class="profile"><span>Маркетинг</span></span></h2>
                                </section>
                            </a>
                        </li>
                        <li ng-class="groupId == '' ? 'open':''">
                            <a class="login-area">
                                <section>
                                    <h2><span class="profile"><span>Производство</span></span></h2>
                                </section>
                            </a>
                        </li>
                        <li><div class="top-navbar-delimiter">|</div></li>
                        <li>
                            <a class="login-area dropdown-toggle" data-toggle="dropdown">
                                <section>
                                    <h2><span> <i class="menu-icon fa fa-user"></i> &nbsp;&nbsp;{{currentUser.UserName}}</span></h2>
                                </section>
                            </a>
                            <ul style="width: 200px;" class="dropdown-menu pull-right">
                                <li>
                                    <div class="padding-5 button-div" >Профиль</div>
                                </li>
                                <li>
                                    <div class="padding-5 button-div" ng-click="logoutButton()">{{translation.template_header_tab_exit}}</div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /Account Area and Settings -->
        </div>
    </div>
</div>
<!-- /Navbar -->
<!-- Main Container -->
<div class="main-container container-fluid">
    <!-- Page Container -->
    <div class="page-container">

        <!-- Page Sidebar -->
        <div class="page-sidebar" id="sidebar">
            <div class="sidebar-header-wrapper">
                <!--<input class="searchinput" type="text">-->
                <!--<i class="searchicon fa fa-search"></i>-->
                <!--<div class="searchhelper">Search Reports, Charts, Emails or Notifications</div>-->
            </div>

            <!--Меню Метрики-->
            <ul ng-if="groupId=='metric'" class="nav sidebar-menu">
                <li ng-class="subgroupId == 'main' ? 'active':''">
                    <a href="index.html">
                        <i class="menu-icon fa fa-bar-chart-o"></i>
                        <span class="menu-text"> Основные показатели </span>
                    </a>
                </li>
                <li>
                    <a href="index.html">
                        <i class="menu-icon fa fa-calculator"></i>
                        <span class="menu-text"> Финансы </span>
                    </a>
                </li>
                <li>
                    <a href="databoxes.html">
                        <i class="menu-icon fa fa-users"></i>
                        <span class="menu-text"> Клиенты </span>
                    </a>
                </li>
                <li>
                    <a href="widgets.html">
                        <i class="menu-icon fa fa-fighter-jet"></i>
                        <span class="menu-text"> Скорость </span>
                    </a>
                </li>
                <li>
                    <a href="widgets.html">
                        <i class="menu-icon fa fa-ship"></i>
                        <span class="menu-text"> Продукт </span>
                    </a>
                </li>
                <li>
                    <a href="widgets.html">
                        <i class="menu-icon fa fa-th"></i>
                        <span class="menu-text"> Рейтинги: Финансы </span>
                    </a>
                </li>
                <li>
                    <a href="widgets.html">
                        <i class="menu-icon fa fa-th"></i>
                        <span class="menu-text"> Рейтинги: Клиенты </span>
                    </a>
                </li>
                <li>
                    <a href="widgets.html">
                        <i class="menu-icon fa fa-th"></i>
                        <span class="menu-text"> Рейтинги: Скорость </span>
                    </a>
                </li>
                <li>
                    <a href="widgets.html">
                        <i class="menu-icon fa fa-th"></i>
                        <span class="menu-text"> Рейтинги: Продукт </span>
                    </a>
                </li>
            </ul>

            <ul ng-if="groupId=='settings'" class="nav sidebar-menu">
                <!--Dashboard-->
                <li ng-class="subgroupId == 'users' ? 'active':''">
                    <a href="/users">
                        <i class="menu-icon fa fa-group"></i>
                        <span class="menu-text"> Пользователи </span>
                    </a>
                </li>
                <!--Databoxes-->
                <li ng-class="subgroupId == 'subdivisions' ? 'active':''">
                    <a href="/subdivisions">
                        <i class="menu-icon fa fa-share-alt"></i>
                        <span class="menu-text"> Подразделения </span>
                    </a>
                </li>
                <!--Widgets-->
                <li ng-class="subgroupId == 'platforms' ? 'active':''">
                    <a href="/platforms">
                        <i class="menu-icon fa fa-share-alt-square"></i>
                        <span class="menu-text"> Площадки </span>
                    </a>
                </li>
            </ul>
            <!-- /Sidebar Menu -->
        </div>
        <!-- /Page Sidebar -->

        <!-- Page Content -->
        <div class="page-content">

            <div ng-view></div>
        </div>
        <!-- /Page Content -->

    </div>
    <!-- /Page Container -->
    <!-- Main Container -->


    <div id="serverErrorModal" class="modal modal-message modal-warning fade" style="display: none;" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <i class="fa fa-warning"></i>
                </div>
                <div class="modal-title">{{translation.lk_error_modal_title}}</div>

                <div class="modal-body" id="serverErrorModalBody">{{translation.lk_error_modal_description}}</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Закрыть</button>
                </div>
            </div> <!-- / .modal-content -->
        </div> <!-- / .modal-dialog -->
    </div>

</div>

<!--Basic Scripts-->
<script src="/theme/assets/js/jquery.min.js"></script>

<script src="/theme/assets/js/bootstrap.min.js"></script>
<script src="/theme/assets/js/slimscroll/jquery.slimscroll.min.js"></script>

<script src="/theme/assets/js/select2/select2.js"></script>

<script src="/theme/assets/js/datetime/datepicker-jquery-ui.min.js"></script>
<script type="text/javascript" src="/theme/assets/js/datetime/datepicker.js"></script>
<script type="text/javascript" src="/theme/assets/js/datetime/datepicker-ru.js"></script>
<script type="text/javascript" src="/theme/assets/js/datetime/bootstrap-timepicker.js"></script>

<!--Beyond Scripts-->
<script src="/theme/assets/js/beyond.js"></script>



<!-- Angular lib -->
<!--<script type="text/javascript" src="/plugins/angular/lib/angular.min.js"></script>-->
<script type="text/javascript" src="/plugins/angular/angular.js"></script>
<script type="text/javascript" src="/plugins/angular/angular-route.min.js"></script>
<script type="text/javascript" src="/plugins/angular/angular-cookies.min.js"></script>
<script type="text/javascript" src="/plugins/angular/angular-sanitize.min.js"></script>
<script type="text/javascript" src="/plugins/angular/angular-resource.min.js"></script>

<script type="text/javascript" src="/plugins/bootstrap-ui/angular-ui.bootstrap.pagination.js"></script>
<script type="text/javascript" src="/plugins/bootstrap-ui/datepicker.js"></script>

<!-- Angular app -->
<script type="text/javascript" src="/angular-app/app.js"></script>
<script type="text/javascript" src="/angular-app/custom.js"></script>

<!-- Angular controllers -->
<script type="text/javascript" src="/angular-app/controllers/LayoutController.js"></script>
<script type="text/javascript" src="/angular-app/controllers/ErrorController.js"></script>
<script type="text/javascript" src="/angular-app/controllers/MainController.js"></script>
<script type="text/javascript" src="/angular-app/controllers/UsersController.js"></script>
<script type="text/javascript" src="/angular-app/controllers/SubdivisionsController.js"></script>
<script type="text/javascript" src="/angular-app/controllers/PlatformsController.js"></script>


<!-- Angular services -->
<script type="text/javascript" src="/angular-app/service/TranslationService.js"></script>
<script type="text/javascript" src="/angular-app/service/BackendService.js"></script>
<script type="text/javascript" src="/angular-app/service/AccountService.js"></script>
<script type="text/javascript" src="/angular-app/service/UsersService.js"></script>
<script type="text/javascript" src="/angular-app/service/DictionaryService.js"></script>
<script type="text/javascript" src="/angular-app/service/SubdivisionsService.js"></script>
<script type="text/javascript" src="/angular-app/service/PlatformsService.js"></script>

<!-- Angular directives -->
<script type="text/javascript" src="/plugins/ya-map-2.2.js"></script>


</body>
<!--  /Body -->
</html>
