<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>
      <add name="DefaultConnection" 
           connectionString="Data Source=WS-SRT01-1485\SQLEXPRESS;Initial Catalog=IsHoroshiki;Integrated Security=True"
           xdt:Transform="SetAttributes" 
           xdt:Locator="Match(name)"/>

    <add name="KladrConnection"
           connectionString="Data Source=WS-SRT01-1485\SQLEXPRESS;Initial Catalog=Kladr;Integrated Security=True"
           xdt:Transform="SetAttributes"
           xdt:Locator="Match(name)"/>
  </connectionStrings>
</configuration>

