<connectionStrings>
  <add name="DefaultConnection" connectionString="Data Source=WS-SRT01-1485\SQLEXPRESS;Initial Catalog=IsHoroshiki;Integrated Security=True" providerName="System.Data.SqlClient" />
  <add name="KladrConnection" connectionString="Data Source=WS-SRT01-1485\SQLEXPRESS;Initial Catalog=Kladr;Integrated Security=True" providerName="System.Data.SqlClient" />
</connectionStrings>

