<ul class="list-group sidebar-nav-v1" id="sidebar-nav">

    <li class="list-group-item list-toggle active">
        <!--<a data-toggle="collapse" data-parent="#sidebar-nav" data-target="#collapse-nav1"-->
           <!--href="javascript:void(0);" data-toggle="collapse">Меню 1</a>-->

        <ul id="collapse-nav1" class="collapse in">
            <li><a href="/users"><i class="fa fa-dot-circle-o"></i> Основные показатели</a></li>
            <li><a href="/users"><i class="fa fa-dot-circle-o"></i> Финансы</a></li>
            <li><a href="/users"><i class="fa fa-dot-circle-o"></i> Клиетны</a></li>
            <li><a href="/users"><i class="fa fa-dot-circle-o"></i> Скорость</a></li>
            <li><a href="/users"><i class="fa fa-dot-circle-o"></i> Продукт</a></li>
            <li><a href="/users"><i class="fa fa-dot-circle-o"></i> Рейтинги: Финансы</a></li>
            <li><a href="/users"><i class="fa fa-dot-circle-o"></i> Рейтинги: Клиенты</a></li>
            <li><a href="/users"><i class="fa fa-dot-circle-o"></i> Рейтинги: Скорость</a></li>
            <li><a href="/users"><i class="fa fa-dot-circle-o"></i> Рейтинги: Продукт</a></li>
        </ul>
    </li>

</ul>